@media only screen and (min-width: 768px) {
	section{
		padding: 50px 125px;
	}
	#home {
		margin-top: 120px;
		padding: 0;
	}
	.carousel-inner,
	.carousel-item,
	.carousel-item img {
		height: 60vh;
	}
	/* Products section */
	#productSection .owl-nav {
		text-align: right;
	}
	.contactSection {
		padding: 60px;
	}
	#products, #blog{
		padding-top: 100px;
	}
	#contact{
		padding: 85px 0px 0px 0px;
	}
	#contact .bg-dark{
		padding: 50px 90px;
	}
}

@media only screen and (max-width: 767px) {
	/* Global classes for mobile */
	.mfo-35 {
		font-size: 35px!important;
	}
	.mfo-32 {
		font-size: 32px!important;
	}
	.mfo-30 {
		font-size: 30px!important;
	}
	.mfo-25 {
		font-size: 25px!important;
	}
	.mfo-24 {
		font-size: 24px!important;
	}
	.mfo-22 {
		font-size: 22px!important;
	}
	.mfo-20 {
		font-size: 20px!important;
	}
	.mfo-18 {
		font-size: 18px;
	}
	.mfo-17 {
		font-size: 17px!important;
	}
	.mfo-16 {
		font-size: 16px!important;
	}
	.mfo-15 {
		font-size: 15px!important;
	}
	.mfo-14 {
		font-size: 14px!important;
	}
	.mfo-13 {
		font-size: 13px!important;
	}
	.mfo-12 {
		font-size: 12px!important;
	}
	.mfo-11 {
		font-size: 11px!important;
	}
	.mow-100 {
		width: 100%!important;
	}
	.mow-90 {
		width: 90%!important;
	}
	.mow-60 {
		width: 60%!important;
	}
	.carousel-inner,
	.carousel-item,
	.carousel-item img {
		height: 25vh;
	}
	.contactSection {
		padding: 20px;
	}
	section{
		padding: 20px 0px;
	}
	#home {
		margin-top: 95px;
		padding: 0;
	}
	#blogSlider {
	    height: 30vh;
	}
	.blogpage .blogcardimage {
		height: 200px;
	}
	#about{
		margin-top: 50px;
	}
	#products, #blog{
		padding-top: 70px;
	}
	.contactContainer .xgroup, .contactContainer input {
		width: 100%;
	}
	#contact{
		padding: 0;
	}
	#contact .bg-dark{
		padding: 25px 20px;
	}
	.mvh-100{
		height: 100vh!important;
	}
}