@import url('https://fonts.googleapis.com/css2?family=Exo:wght@800&family=Montserrat:wght@300&family=Open+Sans+Condensed:wght@700&family=Roboto+Slab:wght@700&display=swap');

/* Globacl classes */

h4 {
	font-family: 'Roboto Slab', serif;
}

ul {
	list-style-type: none;
}

.w-20 {
	width: 20%;
}

.w-30 {
	width: 30%;
}

.w-70 {
	width: 70%;
}

.w-100 {
	width: 100%;
}

.fo-12 {
	font-size: 12px;
}

.fo-13 {
	font-size: 13px;
}

.fo-14 {
	font-size: 14px;
}

.fo-15 {
	font-size: 15px;
}

.fo-16 {
	font-size: 16px;
}

.fo-17 {
	font-size: 17px;
}

.fo-18 {
	font-size: 18px;
}

.fo-20 {
	font-size: 20px;
}

.fo-21 {
	font-size: 21px;
}

.fo-22 {
	font-size: 22px;
}

.fo-24 {
	font-size: 24px;
}

.fo-26 {
	font-size: 26px;
}

.fo-30 {
	font-size: 30px!important;
}

.fo-34 {
	font-size: 34px;
}

.fo-36 {
	font-size: 36px;
}

.fo-40 {
	font-size: 40px;
}

.fo-48 {
	font-size: 48px;
}

.fo-50 {
	font-size: 50px;
}

.fw-400 {
	font-weight: 400;
}

.fw-600 {
	font-weight: 600;
}

.fw-700 {
	font-weight: 700;
}

.fw-800 {
	font-weight: 800;
}

.bco, nav .active {
	color: #ec6521!important;
}

.txtco {
	color: #777777;
	line-height: 1.35em;
}

.website-button {
	padding: 5px 20px;
	background-color: #ec6521;
	color: #000;
	font-weight: 600;
}

.bg-grey {
	background-color: #eeeeee;
}

.bg-gray {
	background-color: gray;
}

.cursorPointer {
	cursor: pointer;
}
.website-hr{
	border-top: none;
	border-bottom: 3px solid #ec6521;
	max-width: 100px;
}

#overlay {
	position: fixed;
	display: none;
	width: 100%;
	height: 100%;
	top: 0;
	left: 0;
	right: 0;
	bottom: 0;
	background-color: rgba(0, 0, 0, 0.5);
	z-index: 2;
	cursor: pointer;
}


/* 3-bars and cross icon animation */

.menu-btn__burger {
	width: 25px;
	height: 3px;
	background: #ec6521;
	border-radius: 5px;
	box-shadow: 0 2px 5px rgba(255, 101, 47, .2);
	transition: all .5s ease-in-out;
}

.menu-btn__burger::before,
.menu-btn__burger::after {
	content: '';
	position: absolute;
	width: 25px;
	height: 3px;
	background: #ec6521;
	border-radius: 5px;
	box-shadow: 0 2px 5px rgba(255, 101, 47, .2);
	transition: all .5s ease-in-out;
}

.menu-btn__burger::before {
	transform: translateY(-9px);
}

.menu-btn__burger::after {
	transform: translateY(9px);
}


/* ANIMATION */

.menu-btn.open .menu-btn__burger {
	transform: translateX(-50px);
	background: transparent;
	box-shadow: none;
}

.menu-btn.open .menu-btn__burger::before {
	transform: rotate(45deg) translate(35px, -35px);
}

.menu-btn.open .menu-btn__burger::after {
	transform: rotate(-45deg) translate(35px, 35px);
}


/* Back to Top */

#backtotop {
	z-index: 999;
	display: inline-block;
	position: fixed;
	visibility: hidden;
	bottom: 20px;
	right: 20px;
	width: 36px;
	height: 36px;
	line-height: 36px;
	font-size: 16px;
	text-align: center;
	color: #FFFFFF;
	background-color: #ec6521;
}

#backtotop i {
	display: block;
	width: 100%;
	height: 100%;
	line-height: inherit;
}

#backtotop.visible {
	visibility: visible;
}

#backtotop:hover {
	opacity: 1;
}


/* Navbar */

nav {
	box-shadow: 0px 0px 14px 0px rgb(0 0 0 / 31%);
	background-color: #fff;
}

.nav-item {
	padding: 0px 20px 0px 20px;
}

.nav-item a {
	color: #ec6521;
	font-size: 17px;
	font-weight: 600;
	text-transform: uppercase;
}

.nav-item a:hover {
	color: #1eaa56;
}


/* nav .navbar-collapse.show {
	height: 100vh;
} */


/* Image slider */

.carousel-inner img {
	width: 100%;
	height: 100%;
}


/* About */
#about li, #products li{
	padding: 6px 0px;
	border-bottom: 1px solid #cfcccc;
	cursor: pointer;
}

#about .col-md-9 .fo-30 , #products .col-md-9 .fo-30{
	border-bottom: 1px solid #cfcccc;
}
/* Testimonials */

.testimonialsImage {
	margin-top: -65px
}

.testimonialsImage img {
	border-radius: 50%;
}

.testimonials hr {
	border-bottom: 2px solid #000;
	max-width: 100px;
	border-top: none;
}

.testimonials-heading {
	font-family: 'Roboto Slab', serif;
}


/* Products*/

.productfeatureSection .fo-20 {
	font-family: Georgia, "Times New Roman", Times, serif;
}

.product_feature{
	border-top: 1px solid #ec6521;
}
.product_feature .bg-white{
	padding: 8px 20px;
}
.fullscreenCover{
	background-color: #f77c3e;
}
.fullscreenCover .firstSection{
	padding: 0px 70px;
}
.fullscreenCover .firstSection button{
	padding: 12px 20px;
	background-color: transparent;
	border: 1px solid white;
	border-radius: 40px;
	color: #fff;
	font-weight: 600;
}
.fullscreenCover img{
	-webkit-mask: linear-gradient(rgb(0, 0, 0) 30%, rgba(0, 0, 0, 0));
	height: 100%;
}
/* Blogs */

[type=radio] {
	display: none;
}

#blogSlider {
	padding-top: 20px;
	height: 85vh;
	position: relative;
	perspective: 1000px;
	transform-style: preserve-3d;
}

#blogSlider label {
	margin: auto;
	width: 60%;
	/* height: 100%; */
	border-radius: 16px;
	position: absolute;
	left: 0;
	right: 0;
	cursor: pointer;
	transition: transform 0.4s ease;
	background-color: #fff;
	--tw-shadow: 0 14px 40px -10px rgba(0, 0, 0, .35) !important;
	box-shadow: var(--tw-ring-offset-shadow, 0 0 #0000), var(--tw-ring-shadow, 0 0 #0000), var(--tw-shadow) !important;
}

.blogcardimage {
	height: 225px;
}

.blogpage .blogcardimage {
	height: 550px;
	background-color: rgb(38, 35, 55);
	position: relative;
}
.blogcardtext{
	position: absolute;
	color: #fff;
	bottom: 30px;
	font-family: Georgia, "Times New Roman", Times, serif;
}

#blogSlider img {
	border-radius: 16px;
	-webkit-mask: linear-gradient(rgb(0, 0, 0) 30%, rgba(0, 0, 0, 0));
}

#s1:checked~#slide4,
#s2:checked~#slide5,
#s3:checked~#slide1,
#s4:checked~#slide2,
#s5:checked~#slide3 {
	box-shadow: 0 1px 4px 0 rgba(0, 0, 0, .37);
	transform: translate3d(-50%, 0, -200px);
}

#s1:checked~#slide5,
#s2:checked~#slide1,
#s3:checked~#slide2,
#s4:checked~#slide3,
#s5:checked~#slide4 {
	box-shadow: 0 6px 10px 0 rgba(0, 0, 0, .3), 0 2px 2px 0 rgba(0, 0, 0, .2);
	transform: translate3d(-25%, 0, -100px);
}

#s1:checked~#slide1,
#s2:checked~#slide2,
#s3:checked~#slide3,
#s4:checked~#slide4,
#s5:checked~#slide5 {
	box-shadow: 0 13px 25px 0 rgba(0, 0, 0, .3), 0 11px 7px 0 rgba(0, 0, 0, .19);
	transform: translate3d(0, 0, 0);
}

#s1:checked~#slide2,
#s2:checked~#slide3,
#s3:checked~#slide4,
#s4:checked~#slide5,
#s5:checked~#slide1 {
	box-shadow: 0 6px 10px 0 rgba(0, 0, 0, .3), 0 2px 2px 0 rgba(0, 0, 0, .2);
	transform: translate3d(25%, 0, -100px);
}

#s1:checked~#slide3,
#s2:checked~#slide4,
#s3:checked~#slide5,
#s4:checked~#slide1,
#s5:checked~#slide2 {
	box-shadow: 0 1px 4px 0 rgba(0, 0, 0, .37);
	transform: translate3d(50%, 0, -200px);
}

.blog-image {
	height: 225px;
}

.blog-image img {
	height: 225px;
}

.blog-body {
	padding: 40px 32px 20px 32px;
	line-height: 1.7em;
}

.blog-footer {
	border-top: 1px solid #eeeeee;
	padding: 16px 32px;
	color: #ADADAD;
}


/* Contact */

.contactSectionIcon {
	padding: 16px;
	background-color: #f1f1f1;
	border-radius: 50%;
	width: 60px;
	height: 60px;
}

.contactSectionIcon i {
	font-size: 28px;
}

.contactSection .txtco {
	font-weight: 400!important;
}

.contactContainer {
	padding-top: 80px;
	background: url('../img/contactcover.png');
	background-size: cover;
}

.contactContainer .xgroup {
	width: 70%;
	position: relative;
}

.contactContainer input {
	width: 70%;
	height: 30px;
	padding: 5px 0px 1px 0px;
	font-size: 12px;
	outline: none;
	border: none;
	border-bottom: 1px solid #bcbcbc;
}

.contactContainer label {
	top: -14px;
	position: absolute;
	left: 0;
}
#contact .contactSectionIcon{
	background-color: rgba(255, 255, 255, .2);
}

#contact .fo-18{
	color: #fff;
}

/* Footer */

footer li {
	color: #ec6521;
	border-bottom: 1px solid rgba(255, 255, 255, .1);
	padding: 10px 0px;
	font-size: 13px;
}

.social-links div {
	padding: 8px 13px;
	background-color: rgba(255, 255, 255, .2);
	margin: 4px;
	border-radius: 50%;
	width: 40px;
	height: 40px;
}

.social-links div:first-child {
	padding: 8px 15px;
}

footer input {
	color: #FFFFFF;
	background-color: rgba(255, 255, 255, .2);
	border-color: transparent;
	border-radius: 12px;
	margin-bottom: 10px;
	padding: 5px 15px;
	font-size: 13px;
	width: 100%;
}