@import url('https://fonts.googleapis.com/css2?family=Exo:wght@800&family=Montserrat:wght@300&family=Open+Sans+Condensed:wght@700&family=Roboto+Slab:wght@700&display=swap');

/* Globacl classes */

h4 {
	font-family: 'Roboto Slab', serif;
}

ul {
	list-style-type: none;
}

.w-20 {
	width: 20%;
}

.w-70 {
	width: 70%;
}

.w-100 {
	width: 100%;
}

.fo-12 {
	font-size: 12px;
}

.fo-13 {
	font-size: 13px;
}

.fo-14 {
	font-size: 14px;
}

.fo-15 {
	font-size: 15px;
}

.fo-16 {
	font-size: 16px;
}

.fo-17 {
	font-size: 17px;
}

.fo-18 {
	font-size: 18px;
}

.fo-20 {
	font-size: 20px;
}

.fo-21 {
	font-size: 21px;
}

.fo-22 {
	font-size: 22px;
}

.fo-24 {
	font-size: 24px;
}

.fo-26 {
	font-size: 26px;
}

.fo-30 {
	font-size: 30px!important;
}

.fo-34 {
	font-size: 34px;
}

.fo-36 {
	font-size: 36px;
}

.fo-40 {
	font-size: 40px;
}

.fo-48 {
	font-size: 48px;
}

.fw-400 {
	font-weight: 400;
}

.fw-600 {
	font-weight: 600;
}

.fw-700 {
	font-weight: 700;
}

.fw-800 {
	font-weight: 800;
}

.bco {
	color: #ec6521!important;
}

.txtco {
	color: #777777;
	line-height: 1.35em;
}

.website-button {
	padding: 5px 20px;
	background-color: #ec6521;
	color: #000;
	font-weight: 600;
}

.bg-grey {
	background-color: #eeeeee;
}

.bg-gray {
	background-color: gray;
}

.cursorPointer {
	cursor: pointer;
}

#overlay {
	position: fixed;
	display: none;
	width: 100%;
	height: 100%;
	top: 0;
	left: 0;
	right: 0;
	bottom: 0;
	background-color: rgba(0, 0, 0, 0.5);
	z-index: 2;
	cursor: pointer;
}


/* 3-bars and cross icon animation */

.menu-btn__burger {
	width: 25px;
	height: 3px;
	background: #ec6521;
	border-radius: 5px;
	box-shadow: 0 2px 5px rgba(255, 101, 47, .2);
	transition: all .5s ease-in-out;
}

.menu-btn__burger::before,
.menu-btn__burger::after {
	content: '';
	position: absolute;
	width: 25px;
	height: 3px;
	background: #ec6521;
	border-radius: 5px;
	box-shadow: 0 2px 5px rgba(255, 101, 47, .2);
	transition: all .5s ease-in-out;
}

.menu-btn__burger::before {
	transform: translateY(-9px);
}

.menu-btn__burger::after {
	transform: translateY(9px);
}


/* ANIMATION */

.menu-btn.open .menu-btn__burger {
	transform: translateX(-50px);
	background: transparent;
	box-shadow: none;
}

.menu-btn.open .menu-btn__burger::before {
	transform: rotate(45deg) translate(35px, -35px);
}

.menu-btn.open .menu-btn__burger::after {
	transform: rotate(-45deg) translate(35px, 35px);
}


/* Back to Top */

#backtotop {
	z-index: 999;
	display: inline-block;
	position: fixed;
	visibility: hidden;
	bottom: 20px;
	right: 20px;
	width: 36px;
	height: 36px;
	line-height: 36px;
	font-size: 16px;
	text-align: center;
	color: #FFFFFF;
	background-color: orange;
}

#backtotop i {
	display: block;
	width: 100%;
	height: 100%;
	line-height: inherit;
}

#backtotop.visible {
	visibility: visible;
}

#backtotop:hover {
	opacity: 1;
}


/* Navbar */

nav {
	box-shadow: 0px 0px 14px 0px rgb(0 0 0 / 31%);
	background-color: #fff;
}

.nav-item {
	padding: 0px 20px 0px 20px;
}

.nav-item a {
	color: #ec6521;
	font-size: 17px;
	font-weight: 600;
	text-transform: uppercase;
}

.nav-item a:hover {
	color: #1eaa56;
}


/* nav .navbar-collapse.show {
	height: 100vh;
} */


/* Image slider */

.carousel-inner img {
	width: 100%;
	height: 100%;
}


/* Blogs */

.blog-image {
	height: 225px;
}

.blog-image img {
	height: 225px;
}

.blog-body {
	padding: 40px 32px 20px 32px;
	line-height: 1.7em;
}

.blog-footer {
	border-top: 1px solid #eeeeee;
	padding: 16px 32px;
	color: #ADADAD;
}


/* Contact */

.contactSectionIcon {
	padding: 16px;
	background-color: #f1f1f1;
	border-radius: 50%;
	width: 60px;
	height: 60px;
}

.contactSectionIcon i {
	font-size: 28px;
}

.contactSection .txtco {
	font-weight: 400!important;
}


/* Footer */

footer li {
	color: #ec6521;
	border-bottom: 1px solid rgba(255, 255, 255, .1);
	padding: 10px 0px;
	font-size: 13px;
}

.social-links div {
	padding: 8px 13px;
	background-color: rgba(255, 255, 255, .2);
	margin: 4px;
	border-radius: 50%;
	width: 40px;
	height: 40px;
}

.social-links div:first-child {
	padding: 8px 15px;
}

footer input {
	color: #FFFFFF;
	background-color: rgba(255, 255, 255, .2);
	border-color: transparent;
	border-radius: 12px;
	margin-bottom: 10px;
	padding: 5px 15px;
	font-size: 13px;
	width: 100%;
}